#loadingWrap {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
  }
  #loading {
    width: 200px;
    height: 120px;

  animation: loaderAnime 3s  linear;
    position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  }
  .hidden {
    display: none;
  }

  @keyframes loaderAnime {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .loadingNone {
    animation: loadingAnime 1s forwards;
  }
        
  @keyframes loadingAnime {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    60% {
      opacity: 1;
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
    }
  }
  /* JS が無効なときのスタイル */
  @media (scripting: none) {
    .loadingWrap {
      display: none;
    }
  }