@charset "UTF-8";

@use "../core/mixin.scss" as *;
@use "../core/mediaQuery" as*;


.form-contact {
  position: relative;
    @include max(md){
      padding: 0 20px;
    }
}
.form.fv__pic--catch{
  position: relative;
content: url('./img/Firefly87080 1.png');

    padding: 40px 40px 0 0;
    display: inline-block;
  
    object-fit: contain;
    z-index: 100;
    @include max(md){
      padding-left: 20px;
  }
    @include max(sm){
      height: 300px;
      padding: 0 20px;
    }
}
.contact.fv-back--blue:before {
  height: 39vw;
}
.form-contact__title {
    padding-top: 69px;
    font-family: Zen Kaku Gothic New;
font-size: 40px;
font-weight: 700;
line-height: 1.0;
text-align: left;
color: #000000;


@include max(sm){
  padding-top: 40px;
}
@include max(exsm){
  padding-top: 20px;
}
@media (min-width: 1440px) {
    font-size: 40px;

}
@media (min-width: 375px) {

  font-size: calc(1.25rem + ((1vw - 3.75px) * 1.8779));
  min-height: 0vw;

}
@media (max-width: 375px){
  font-size: 20px;
}

}
.form-contact__sentense {
    padding-top: 64px;
font-size: 16px;
font-weight: 400;
line-height: 1.8;
text-align: left;
width: 422px;
@include max(sm){
  width: 100%;
  padding-right: 20px;
}

}
.form-contact__pic{
    content: url('./img/contact_01 1.png');
    position: absolute;
    left: 46%;
    top: 18%;
    @include max(exlg){
      left: 60%;
    }
    @include max(lg){
      width: 120px;
      top: 10%;
      left: 65%;
    }
    @include max(md){
      width: 80px;
      top: 10%;
    }
    @include max(sm){
      top: 6%;
      left: 73%;
    }
   @include max(exsm){
    top: 0;
   }
  
}
.form-contact__wrapper {
    padding-top: 30px;
    display: flex;
    align-items: center;
    @include max(exlg){
      flex-direction: column;
      align-items: start;
    }
}
.form-contact-flow__block{
    width: 209px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 29px 0 13px;
    position: relative;
    @include max(sm){
      width: 140px
    }
}

    
.form-contact-flow {
    display: flex;
    align-items: center;
}

.form-contact-flow__block--first {
    color: white;
    background: #4282B8;
    
}

.form-contact-flow__block--first::before {
    position: absolute;
    font-size: 12px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    content: '01';
}
.form-contact-flow__block--second {
    border: 3px solid #4282B8;
    color: #4282B8;
    content: '02';
}
.form-contact-flow__block--second::before {
    position: absolute;
    font-size: 12px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    content: '02';
}
.form-contact-flow__block--second--blue {
  background: #4282B8;
  color: white;
}
.form-contact-flow__block--first--white{
  background: white;
  color:#4282B8;
  border: 3px solid #4282B8;
}
.form-contact-phone__line {
    border-top: 1px solid #4282B8;
    width: 52px;
}
.form-contact-phone {
    padding-top: 32px;
    color: #000000;
    padding-left: 150px;
    font-weight: 700;
    @include max(exlg){
      padding-left: 0;
     

    }
}
.form-contact-phone__text {
    font-size: 16px;
}
.form-contact-phone__number {
    padding-top: 29px;
    font-family: kanit;
    font-weight: 400;
    font-size: 32px;
    @include max(exlg){
      padding-top: 20px;
    }
  
}
.form-wrapper {
  width: 480px;
  @include max(md){
    width: 100%;
  }
}
.aobtn-form-box {
    padding-top: 18px;
    @include max(exlg){
      padding-top: 40px;
    }
    @include max(md){
      padding-left: 20px;
    }
    @include max(sm){
      padding-right: 20px;
    }
}
.aobtn-form-box__title span{
    padding-left: 20px;
    font-size: 12px;
    position: relative;
}
.aobtn-form-box__title span::before {
    position: absolute;
    color: red;
    content: '★';
    font-size: 12px;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.form-contact-phone__open {
    padding-top: 8px;
    font-size: 12px;
}
.check-test {
    appearance: none;
    display: none;
  position: absolute;
  }
  /* Custom Checkbox Design */
  .check-label-span::before {
    content: ''; //before, afterはこのプロパティが必須。
  display: block; //横幅・縦幅を指定するため、blockに。
  border-radius: 50%; //これで形を円形に。
  border: 1px solid #4282B8;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  }
  .check-label-span::after{
    content: '';
    position: absolute;
    left: 4px;
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  .check-label-span {
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center; //縦方向に関するプロパティ。display:flex;と合わせて使う。
  }
  .check-label-span{
        padding-top: 14px; 
  }
  .check-test:checked+.check-label-span::after { 
    //スタイルは変更なし
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #4282B8;
  }
  .aobtn-form-box-name {
    padding-top: 20px;
  }
  .aobtn-form-box-name-wrapper{
    padding-top: 27px;
  }
  .aobtn-form-box-name__last-name{
    width: 215px;
    display: inline-block;
    padding: 22px 0 22px 16px;
    background-color: #F8F8F8;
    color: #C2C2C2;
    border: 1px solid #B1C6DC;
    @include max(sm){
      width: 100%;
    }
  }
  .aobtn-form-box-name__first-name {
    margin-left: 40px;
    width: 215px;
    display: inline-block;
    padding: 22px 0 22px 16px;
    background-color: #F8F8F8;
    color: #C2C2C2;
    border: 1px solid #B1C6DC;
    @include max(sm){
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }
  }
  .aobtn-form-box-name__title span {
    position: relative;
    font-size: 12px;
    margin-left: 18px;

  }
  .aobtn-form-box-name__title span::before {
    position: absolute;
    color: red;
    content: '★';
    font-size: 12px;
    top: 50%;
    left: -40%;
    transform: translateY(-50%);
  }
  .aobtn-form-box-mail{
    padding-top: 23px;
  }
 
  .aobtn-form-box-mail__title span {
    position: relative;
    font-size: 12px;
    margin-left: 18px;

  }
  .aobtn-form-box-mail__title span::before {
    position: absolute;
    color: red;
    content: '★';
    font-size: 12px;
    top: 50%;
    left: -40%;
    transform: translateY(-50%);
  } 
   .aobtn-form-box-mail__wrapper {
    padding-top: 26px;
  }
  .aobtn-form-box-mail__box{
    width: 470px;
    display: block;
    padding: 22px 0 22px 16px;
    background-color: #F8F8F8;
    color: #C2C2C2;
    border: 1px solid #B1C6DC;
    @include max(sm){
      width: 100%;
    }
  }
  .aobtn-form-box-tel {
    padding-top: 22px;
  }
  .aobtn-form-box-tel__wrapper{
    padding-top: 27px;
  }
 .aobtn-form-box-tel__box {
    width: 470px;
    display: block;
    padding: 22px 0 22px 16px;
    background-color: #F8F8F8;
    color: #C2C2C2;
    border: 1px solid #B1C6DC;
    @include max(sm){
      width: 100%;
    }
 }
 .aobtn-form-box-addres {
  padding-top: 20px;
 }
.aobtn-form-box-addres__title {
  padding-top: 26px;
}
.aobtn-form-box-addres__title span {
  position: relative;
  font-size: 12px;
  padding-left: 20px;
}
.aobtn-form-box-addres__title span::before{
  position: absolute;
  color: red;
  content: '★';
  font-size: 12px;
  top: 50%;
  left: 20%;
  transform: translateY(-55%);
}
.aobtn-form-box-addres__wrapper {
  padding-top: 27px;
}
.aobtn-form-box-addres__box{
  width: 470px;
    display: block;
    padding: 22px 0 22px 16px;
    background-color: #F8F8F8;
    color: #C2C2C2;
    border: 1px solid #B1C6DC;
    @include max(sm){
      width: 100%;
    }
} 
.aobtn-form-confirm{
  padding-top: 41px;
}
.aobtn-form-confirm__wrapper {
  position: relative;
  display: inline-block;
  padding-left: 27px;  /* カスタムチェックボックスにスペースを確保 */
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 15%;
  @include max(sm){
    margin-left: 30px;
  }

}
.aobtn-form-confirm__check{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.aobtn-form-confirm__span{
  font-weight: 400;
}
.aobtn-form-confirm__span::before {
  font-weight: 400;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #000; /* Border color */
  border-radius: 4px; /* Optional: for rounded corners */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}
.aobtn-form-confirm__check:checked + .aobtn-form-confirm__span::after{
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 8px;  /* Adjusted position */
  transform: translateY(-50%) rotate(45deg);
}
.btn--blue.aobtn-form__btn {
  margin-top: 60px;
  position: absolute;
  left: 20%;
  cursor: pointer;
  @include btn--blue;
  &:disabled {
    border: #666666;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
  }
  @include max(sm){
    left: 50%;
    transform: translateX(-50%);
  }
  

}
// .form.contact-aobtn{
//   margin-top: 70px;
// }



.aobtn-form__end-message{
  display:none;
  text-align: center;
  color: #4282B8;
}
.false-message{
  display: none;
  }

.form.contact-aobtn {
  margin-top: 70px;
}
.btn--blue.form-contact__btn{
 
 margin-top: 51px;

  cursor: pointer;
  
  @include btn--blue;
  
 
}
.thanks.contact-aobtn{
  margin-top: 160px;
}