@charset "UTF-8";
@use "../core/mixin.scss" ;
@use "../core/mediaQuery" as*;



/* モーダルCSSここから */
.modal {
  display: none;
  
  position: fixed;
  overflow: auto;
  z-index: 400; /* サイトによってここの数値は調整 */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
  background-color: rgba(30,30,30,0.9);
  align-items: center;
  justify-content: center;

}

.modalWrapper {
  margin: 55px auto; // 上下のマージンを設定
  max-height: calc(100vh - 110px); // ビューポートの高さから上下のマージンを引いた値
  overflow-y: auto; // 必要に応じてスクロール

  width: 860px;

  padding: 16px 102px 24px;
  background-color: #fff;
  @include max(lg){
    width: 670px;
    padding: 16px 40px 24px;
  }
  @include max(md){
    margin: 20px auto;
    max-height: calc(100vh - 40px); // ビューポートの高さから上下のマージンを引いた値
    width: 490px;
  }
  @include max(sm){
    width: 100%;
  }
}


.modalWrapper span {
  color: #4282B8;
}
.modalContents {
  padding-top: 16px;
}
.modalContents__title {
font-size: 24px;
font-weight: 700;
line-height: 1.8;
text-align: left;
}
.modalContents__img {
  padding-top: 16px;
  width: 100%;
}
.modalContents__sentense{
  padding-top: 35px;
font-size: 16px;
font-weight: 400;
line-height: 1.8;
text-align: left;
} 
.modalContents__sentense p{
  padding-top: 40px;
}
.modalContents__sentense p:first-child {
  padding-top: 0;
}
// .service-aobtn__btn-wrapper {
//   padding-top: 61px;
// }
.modalClose {
  position: absolute;
  display: block;
 
  top: 70px;
  right: 18%;
  cursor: pointer;
  @include max(sm){
    top: 20px;
    right: 20px;
  }
}
.modalClose::before, .modalClose::after {
  content: "";
  position: absolute;
 
  width: 3px; /* 棒の幅（太さ） */
  height: 32px; /* 棒の高さ */
  background: #fff;
  @include max(sm){
    background: #000;
    width: 2px;
    height: 20px;
  }
}
.modalClose::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.modalClose::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}



.news-aobtn {
  @media (min-width: 1200px) {
    
    padding-top: 100px;
    //  padding-top: calc(5.4375rem + ((1vw - 12px) * 8.3333));
  }
  @include max(lg){
    padding: 0 20px;
  }
  @include max(exsm){
  
    padding: 60px 20px 0;

    
  }

}
.news-aobtn__title{
  padding-top: 40px;
  @include max(exsm){
    padding-top: 130px;
  }
}
.news-aobtn__title-inner{
  position: relative;
  padding-top: 10px;
}
.news-aobtn__title-inner::before {
  position: absolute;
    content: "お知らせ";
    @include max(exsm){
      top: -10%;
    }
    // @include max(sm){
    //   padding-top: 121px;
    // }
}
.news-aobtn__menu {
    padding-top: 170px;
    padding-right: 40px;
    @include max(exlg){
      padding-right: 20px;
    }
    @include max(md){
      padding-top: 140px;
    }
    @include max(exsm){
      padding-top: 30px;
    }
   
}


.news-aobtn-menu__item:first-child {
  border-top: 1px solid #B1C6DC;

}

.news-aobtn-menu__item {
 
  cursor: pointer;
  padding: 34px 0 30px;
  position: relative;
  
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 1px solid #B1C6DC;
  @media screen and (max-width: 500px){
    padding: 16px 0;
  }

}



.news-aobtn-menu__item span {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.0;
  color: #4282B8;
  
}
.news-aobtn-menu__item::after {
  position: absolute;
  top: 2%;
  bottom: 0;
  right:3%;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 10px;   /* arrow size */
  height: 10px;  /* arrow size */
  border-top: 3px solid #4282B8;  /* thickness, color */
  border-right: 3px solid #4282B8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  @include max(sm){
    right: 3%;
  }
}
.news-aobtn-menu__tag {
  display: inline-block;
  text-align: center;
  min-width: 116px;
  border: 1px solid #4282B8;
  padding: 5px 16px;
}
.news-aobtn-menu__date {
  padding-left: 16px;
}
.news-aobtn-menu__sentense{
 

  font-size: 16px;
  font-weight: 700;
  line-height: 1.0;

}
.news-aobtn-menu__sentense {
padding-top: 24px;
font-size: 16px;
font-weight: 700;
line-height: 1.0;
text-align: left;
@include max(lg){
  line-height: 1.5;
}
@include max(sm){
  font-size: 14px;
}

@include max(exsm){
  max-width: 300px;
  padding-top: 15px;
}
}
.news-aobtn-menu__sentense br {
  display: none;
  @include max(lg){
    display: block;
  }
  @include max(exsm){
    display: none;
  }
}
.aobtn__btn-wrapper--news {
padding-top: 61px;
text-align: center;
cursor: pointer;
}

