@charset "UTF-8";

@use "../core/mixin.scss" as *;
@use "../core/mediaQuery" as*;

.fv__inner{
    position: relative;
   
}
.fv__pic--catch {
    position: relative;
    padding: 40px 40px 0 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 100;
    content: url('./img/first-view 1.png');

   
    @include max(lg){
        padding: 20px 20px 0 0;
    }
    @include max(md){
        padding-left: 20px;
    }
    @include max(sm){
        padding-top: 20px;
        padding-right: 0;
        display: inline-block;
        content: url('./img/first-view-sp 2.png');
      
       object-fit: fill;
    } 
    @include max(exsm){
        padding-left: 10px;
        padding-top: 0;
    }
 
}
.fv-back--blue {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: -99;
}
.fv-back--blue:before {
    content: '';
    background: #4282B8;
    display: inline-block;
    width: 50.496vw;
    height: 50.496vw;
    background-size: contain;
    vertical-align: middle;
    z-index: 200;
    
    @include max(sm) {
        display: none;
    }  
}
.fv-copy {
    // フェードインのプロパティ
    z-index: 200;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    position: absolute;
    bottom: 9%;
    right: 13.5%;
    text-align: left; 

    @include max(lg) {
        right: 10%;
    }
 
    @include max(md) {
        right: 5%;
       
    }
   @include max(sm){
    bottom: 12%;
   }
   @media screen and (max-width: 450px){
    bottom: 14%;
    left: 5%;
   }
}
.fv-copy.show {
   
    opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.5s ease 0.5s forwards;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fv-copy__main {
    text-align: left;
    display: inline-block;
    font-size: 64px;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    font-size: 35.84px; 
    z-index: 200;
    @include max(exsm) {
        font-size: 24px;
    }
    @include max(sm){
        padding: 10px;
    }
    @media (min-width: 768px){
        font-size: 40px;
    }
    @media (min-width: 992px) {
        font-size: calc(2.5rem + ((1vw - 9.92px) * 7.6923));
        min-height: 0vw;
      }
      @media (min-width: 1200px) {
          font-size: 56px;
      }
      @media (min-width: 1400px) {
        font-size: 64px;
      }
}
.fv-copy__sub {
    text-align: left;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 2.0;
    @include max(exlg) {
        font-size: 14px;
        margin-top: 20px;
    }
    @include max(lg) {
        margin-top: 0;
        padding-top: 10px;
        font-size: 12px;
    } 
    @include max(sm){
        padding-top: 20px;
        letter-spacing: -0.03em;
    }
    @media screen and (max-width:374px){
        letter-spacing: -0.04em;
    }
}
.fv__ornament--bottom {
   position: absolute; 
   font-size: 10px;
   color: #4282B8;

   left: 18px;
   bottom: 64px;
   z-index: 104;
   @include max(exlg) {
    left: 10px;
   }
   @media (max-width: 880px){
    bottom: 30px;
   }

   @include max(md) {
    left: 5%;
    bottom: 20px;

   }
   @include max(sm){
    bottom: 35px;
   }
}

.fv__ornament--bottom:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 18px;
    width: 1px;
    height: 112px;
    transform: translate(-50%) ;
	background-color: #4282B8;
    @include max(md){
        height: 70px;
    }
    @include max(sm){
        height: 50px;
    }
}
