@charset "UTF-8";

@use "../components/pageTop";
@use "../components/swiper.scss";
@use "../components/about";
@use "../components/service";
@use "../components/news";
@use "../components/contact";
@use "../components/about-deriv";
@use "../components/service-deriv";
@use "../components/form";